<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjDCEVgSWGFyxp6d3kMj0nZ9jcjsfJYt0</string>
	<key>GCM_SENDER_ID</key>
	<string>363084866835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mo.selim.dev.Twink-Chat</string>
	<key>PROJECT_ID</key>
	<string>twink-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>twink-chat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363084866835:ios:63dc643d47837a6a9a66e6</string>
</dict>
</plist>